*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
#cabecalho{
    background-color: rgb(77, 69, 61);
    color: white;
    display: flex;
    height: 100px;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    width: 100%;
}
#cabecalho nav ul{
    list-style: none;
    display: flex;
    min-width: 100%;
    gap: 20px;
    flex-wrap: wrap;
}
.link{
    display: block;
    color: white;
    background-color: rgb(103, 187, 183);
    padding: 15px;
    border-radius: 5px;
    transition: background-color .4s ease;

    &:hover{
        background-color: rgb(31, 141, 231);
    }
}
/* .container{
    display: flex;
    background-color: rgb(101, 24, 224);
    height: 100px;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    
}
.box{
    color: #fff;
    text-align: center;
    width: 50px;
    height: 50%;

}
.box1{
    background-color: #ff0000;

}
.box2{
    background-color: rgb(64, 255, 47);
}
.box3{
    background-color: blue;
}
.box4{
    background-color: aquamarine;
} */